.genre-active {
  background-color: red;
}

.sort-container {
  background-color: #555555;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: space-between;

}

.sort-container span {
  color: white;
}

.search-criteria, .sort-criteria {
  display: flex;
  align-items: center;
}

.sort-criteria > * {
  padding: 0 10px;
}

.search-criteria > * {
  padding-right: 10px;
}

.search-container {
  padding: 5% 15%;
  background-color: #232323;
  background-size: 100%;
}

.red-text {
  color: #f65261;
}

.white-text {
  color: white;
}